button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

button:hover {
    background-color: #007f63;
}

.send-button {
    display: block;
    margin-top: 10px;
}
